<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
</head>
    <body>
        <h1>RULES</h1>
        <br>
        <h4>Пойти на работу (Можно только если алкоголь < 50 а усталость < 10):</h4>
        <p>-5 Жизнерадостность</p>
        <p>-30 Мана</p>
        <p>+$100</p>
        <p>+70 Усталость</p>
        <hr color="#fff" size="5" />
        
        <h4>Созерцать природу:</h4>
        <p>+1 Жизнерадостность</p>
        <p>-10 Алкоголь</p>
        <p>+10 Усталость</p>
        <hr>
        <br>
        <h4>Пить вино и смотреть сериал:</h4>
        <p>-1 Жизнерадостность</p>
        <p>+30 Алкоголь</p>
        <p>+10 Усталость</p>
        <p>-5 Здоровье</p>
        <p>-$20</p>
        <hr>
        <br>
        <h4>Сходить в бар:</h4>
        <p>+1 Жизнерадостность</p>
        <p>+60 Алкоголь</p>
        <p>+40 Усталость</p>
        <p>-10 Здоровье</p>
        <p>-$100</p>
        <hr>
        <br>
        <h4>Выпить с маргинальными личностями:</h4>
        <p>+5 Жизнерадостность</p>
        <p>-80 Здоровье</p>
        <p>+90 Алкоголь</p>
        <p>+80 Усталость</p>
        <p>-$150</p>
        <hr>
        <br>
        <h4>Петь в метро:</h4>
        <p>+1 Жизнерадостность</p>
        <p>+10 Алкоголь</p>
        <p>+$10 (еще + $50 если изначально алкоголь был > 40 & < 70)</p>
        <p>+20 Усталость</p>
        <hr>
        <br>
        <h4>Спать:</h4>
        <p>+90 Здоровье, если алкоголь < 30</p>
        <p>-3 Жизнерадостность, если алкоголь > 70</p>
        <p>-50 Алкоголь</p>
        <p>-70 Усталость</p>
        <li><%= link_to 'Back', :back %></li>
    </body>
</html>


