<% name = current_user.present? ? current_user.name : 'Stranger'%>
<h1 align="center">VALERA</h1>
<p align="center">BEST GAME EVER</p>
<h2 align="center">Welcome <%= name %></h2>
<% if user_signed_in? %>
	<h3 align="center"> 
		<button class="nav-item">
			<%= link_to "Game", "/game", class:'nav-link'%>
		</button>
	</h3>
<%else%>
	<p align="center"> Please, sign in to play</h3>
<% end %>

